    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Orlik</title>
    <meta name="description" content="Edward Orlik is a designer, maker, and public servant.">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/revolver.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="/scripts.js" defer></script>

</head>
<body>
    {% include "nav-menu.njk" %}

    <div class="outer-box">
   <div class="container">
    <div class="letter">E</div>
    <div class="letter">d</div>
    <div class="letter">w</div>
    <div class="letter">a</div>
    <div class="letter">r</div>
    <div class="letter">d</div>
    <div class="letter"> </div>
    <div class="letter">O</div>
    <div class="letter">r</div>
    <div class="letter">l</div>
    <div class="letter">i</div>
    <div class="letter">k</div>
    <div class="letter"> </div>
  </div> 
  <div class="container2">
    <div class="letter">E</div>
    <div class="letter">d</div>
    <div class="letter">w</div>
    <div class="letter">a</div>
    <div class="letter">r</div>
    <div class="letter">d</div>
    <div class="letter"> </div>
    <div class="letter">O</div>
    <div class="letter">r</div>
    <div class="letter">l</div>
    <div class="letter">i</div>
    <div class="letter">k</div>
    <div class="letter"> </div>
  </div>
  <div id="vertical-ring">
    <div class= "container3">
    <div class="letter">E</div>
    <div class="letter">d</div>
    <div class="letter">w</div>
    <div class="letter">a</div>
    <div class="letter">r</div>
    <div class="letter">d</div>
    <div class="letter"> </div>
    <div class="letter">O</div>
    <div class="letter">r</div>
    <div class="letter">l</div>
    <div class="letter">i</div>
    <div class="letter">k</div>
    <div class="letter"> </div>
  </div>
  </div>
</div>
  
  

    <main>
        {{ content | safe }}
    </main>
    
</body>
    <script src="/revolver.js" defer></script>
</html>