    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Orlik</title>
    <meta name="description" content="Edward Orlik is a designer, maker, and public servant.">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"/>
</head>
<body>
    {% include "nav-menu.njk" %}

    <main>
        {{ content | safe }}
    </main>
    
</body>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function toggleMenu() {
  document.getElementById("nav").classList.toggle("show");
  document.getElementById("menu-btn").classList.toggle("rotate")
}
</script>

<script>
$(document).ready(function(){
  $(".nav-link").click(function(){
    $(".nav-link").removeClass('active-nav-item');
    $(this).toggleClass('active-nav-item');
    console.log(this.id);
    if (this.id === "") {
        $("main").load("/about/index.html");
    } else {
    $("main").load("/"+this.id+"/index.html");
  }
    

    document.getElementById("nav").classList.remove("show");
    document.getElementById("menu-btn").classList.remove("rotate")
    
});
  });
</script>

</html>