<span onclick="toggleMenu()" id="menu-btn">+</span>
    <h2 id="site-title">Edward Orlik</h2>
<nav id="nav">
    <div class="nav-links">
        {% for i in collections.nav %}
        <h1 class="nav-link {{ 'active-nav-item' if i.url == page.url }}" id="{{ i.fileSlug }}">{{ i.data.title }}</h1>
        {% endfor %}
    </div>
</nav>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function toggleMenu() {
  document.getElementById("nav").classList.toggle("show");
  document.getElementById("menu-btn").classList.toggle("rotate")
}
</script>

<script>
$(document).ready(function(){
  $(".nav-link").click(function(){
    $(".nav-link").removeClass('active-nav-item');
    $(this).toggleClass('active-nav-item');
    console.log(this.id);
    $("main").load("/"+this.id+"/index.html");
    document.getElementById("nav").classList.remove("show");
    document.getElementById("menu-btn").classList.remove("rotate")
    
});
  });
</script>
