body {
  font-family: avenir, helvetica, arial, sans-serif;
  color: white;
  background-color: #3E3DCB;
}

p, img, h2 {
  max-width: 95vw;
  margin: 1em auto;
}

a {
  color:inherit;
}

main {
  position: static;
}



nav {
  left:0px;
  background-color: #3E3DCB;
  position:fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  display:none;
}

.show {
  display:block;
}

.nav-links {
  padding-top: 25vh
}

.nav-link {
  font-size: 2em;
  position: relative;
  bottom: 0;
}

#menu-btn {
  width:1em;
  z-index: 2;
  text-align: center;
  display: block;
  position: fixed;
  top: 0;
  right: 0.5em;
  font-size: 3.5rem;
  font-weight: bolder;
  transition: ease-in-out;
  animation-duration: 0.3s;
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.rotate {
  transform:rotate(45deg)
}

.nav-link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 20px;
  display: block;
  animation: ease-in-out;
  transition-duration: 0.2s;
}

.active-nav-item, .active-nav-item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 40em) {

  #menu-btn {
    visibility: hidden;
  }

  p, img {
    max-width: 25em;
  }

  img {
    height: auto;
  }

  nav {
      position:fixed;
      padding-left: 30px;
      display: block;
      top: 5em;
  }

  #site-title {
    position: fixed;
    left: 2em;
  }

  .nav-links {
    padding:0;
  }

  .nav-link {
    font-size: initial;
    text-align: initial;
    width: fit-content;
    cursor: pointer;
  }

  .nav-link:hover {
      transform: rotate(-12deg) translateX(17px);
      transform-origin: center;
  }

  .active-nav-item, .active-nav-item:hover {
      font-size: 120%;
      transform: translate(105px,20px) rotate(-33deg) ;
      transform-origin: bottom left;
      animation: ease-in-out;
      transition-duration: 0.2s;
  }

  main {
      position: absolute;
      top: 100px;
      left: 250px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    flex-direction:row;
  }


  /* FLEXBOX GALLERY*/
  .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }
  }