---
title: Projects
tags: nav
---
<!--
<div class="gallery">
{%- for image in gallery -%}
  <div>
        <img src="{{image}}" alt="" style="width:500px">
    </div>
{%- endfor -%}
</div>
-->



<div class="gallery"><div>
         {% image "src/assets/img/projects/cabinet.png" %}
    </div><div>
        {% image "src/assets/img/projects/candle.png" %}
    </div><div>
        {% image "src/assets/img/projects/canvas-reversed.png" %}
    </div><div>
        {% image "src/assets/img/projects/chair.png" %}
    </div><div>
        {% image "src/assets/img/projects/charcoal1.png" %}
    </div><div>
        {% image "src/assets/img/projects/charcoal2.png" %}
    </div><div>
        {% image "src/assets/img/projects/cyanotypes.png" %}
    </div><div>
        {% image "src/assets/img/projects/doll.png" %}
    </div><div>
        {% image "src/assets/img/projects/green-pinny.png" %}
    </div><div>
        {% image "src/assets/img/projects/hat.png" %}
    </div><div>
        {% image "src/assets/img/projects/meltwater.png" %}
    </div><div>
        {% image "src/assets/img/projects/mobile.png" %}
    </div><div>
        {% image "src/assets/img/projects/mosaic.png" %}
    </div><div>
        {% image "src/assets/img/projects/book-cover.png" %}
    </div><div>
        {% image "src/assets/img/projects/book-fly.png" %}
    </div><div>
        {% image "src/assets/img/projects/rush seat.png" %}
    </div><div>
        {% image "src/assets/img/projects/waistcoat.png" %}
    </div><div>
        {% image "src/assets/img/projects/wip-chair.png" %}
    </div><div>
        {% image "src/assets/img/projects/whadwas-framed.png" %}
    </div><div>
        {% image "src/assets/img/projects/whadwas.png" %}
    </div></div>
