---
title: Projects
tags: nav
layout: base.njk
---

<div class="gallery">
{%- for image in gallery -%}
  <div>
        <img src="{{image}}" alt="" style="width:500px">
    </div>
{%- endfor -%}
</div>

<div class="gallery"><div>
        <img src="/assets/img/projects/cabinet.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/candle.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/canvas-reversed.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/chair.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/charcoal1.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/charcoal2.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/cyanotypes.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/doll.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/green-pinny.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/hat.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/meltwater.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/mobile.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/mosaic.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/rush seat.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/waistcoat.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/whadwas-framed.png" alt="" style="width:500px">
    </div><div>
        <img src="/assets/img/projects/whadwas.png" alt="" style="width:500px">
    </div></div>