---
title: Projects
tags: nav
---
<!--
<div class="gallery">
{%- for image in gallery -%}
  <div>
        <img src="{{image}}" alt="" style="width:500px">
    </div>
{%- endfor -%}
</div>
-->



<div class="gallery"><div>
         {% image "src/assets/cabinet.png" %}
    </div><div>
        {% image "src/assets/candle.png" %}
    </div><div>
        {% image "src/assets/canvas-reversed.png" %}
    </div><div>
        {% image "src/assets/chair.png" %}
    </div><div>
        {% image "src/assets/charcoal1.png" %}
    </div><div>
        {% image "src/assets/charcoal2.png" %}
    </div><div>
        {% image "src/assets/cyanotypes.png" %}
    </div><div>
        {% image "src/assets/doll.png" %}
    </div><div>
        {% image "src/assets/green-pinny.png" %}
    </div><div>
        {% image "src/assets/hat.png" %}
    </div><div>
        {% image "src/assets/meltwater.png" %}
    </div><div>
        {% image "src/assets/mobile.png" %}
    </div><div>
        {% image "src/assets/mosaic.png" %}
    </div><div>
        {% image "src/assets/book-cover.png" %}
    </div><div>
        {% image "src/assets/book-fly.png" %}
    </div><div>
        {% image "src/assets/rush seat.png" %}
    </div><div>
        {% image "src/assets/waistcoat.png" %}
    </div><div>
        {% image "src/assets/wip-chair.png" %}
    </div><div>
        {% image "src/assets/whadwas-framed.png" %}
    </div><div>
        {% image "src/assets/whadwas.png" %}
    </div></div>
